.Card {
  /* height: 135px; */
  width: 100%;
  background: aqua;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  margin-bottom: 20px;
}

.Card_dropbox {
  background: rgb(2, 210, 223);
  background: linear-gradient(
    45deg,
    rgba(2, 210, 223, 1) 0%,
    rgba(73, 2, 223, 1) 100%
  );
}

.Card_spotify {
  background: rgb(2, 223, 98);
  background: linear-gradient(
    45deg,
    rgba(2, 223, 98, 1) 0%,
    rgba(0, 193, 84, 1) 100%
  );
}

.Card_invision {
  background: linear-gradient(
    45deg,
    rgba(207, 145, 249, 1) 0%,
    rgba(163, 148, 247, 1) 100%
  );
}

/* header */

.actions {
  height: 20px;
  width: 20px;
}