.Card {
  /* height: 135px; */
  width: 100%;

  background: rgb(207,145,249);
  background: linear-gradient(45deg, rgba(207,145,249,1) 0%, rgba(163,148,247,1) 100%); 

  color: #fff;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  padding: 16px;
  margin-bottom: 20px;
}

.Card_default {
  background: aqua;
}

.Card_dropbox {
  background: rgb(2,210,223);
  background: linear-gradient(45deg, rgba(2,210,223,1) 0%, rgba(73,2,223,1) 100%);
}

.Card_spotify {
  background: rgb(2,223,98);
  background: linear-gradient(45deg, rgba(2,223,98,1) 0%, rgba(0,193,84,1) 100%);
}

.Card_invision {
  background: linear-gradient(45deg, rgba(207,145,249,1) 0%, rgba(163,148,247,1) 100%);
}

/* header */

.Card__header {
  /* background: #cfcfcf; */
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card__sevice-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
}

.Card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20px;
  width: 20px;
}

.action_more {
  height: 100%;
  width: 100%;
}

/* content */
.Card__content {
  /* background: #cfcfcf; */
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.price__title{
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
}

.price__quantity {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.4;
}

.action_more {
  height: 100%;
  width: 100%;
}

.Card__name {
  
}