.Header {
  background: var(--color-bg-default);
  border-bottom: 2px solid var(--color-bg-border);
}

.Header-TouchPhone {
  display: block;
}

.Header-Desktop {
  display: none;
}


@media screen and (min-width: 720px) {
  .Header-Desktop {
    display: flex;
    background: var(--color-bg-default);
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xl);
  }
  .Header-TouchPhone {
    display: none;
  }
}
