.Card__content {
  /* background: #cfcfcf; */
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.price__title{
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
}

.price__quantity {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.4;
}

.action_more {
  height: 100%;
  width: 100%;
}

.Card__name {
  
}